

.login-form {
  display: flex;
  flex-direction: column; 
  background-color: white;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin-top: 25px;
}


.login-form label {
  margin-bottom: 5px;
  font-weight: bold;
}


.login-form input {
  margin-bottom: 19px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.login-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #0056b3;
}


 
.login-page {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;           
  background-color: #f5f5f5; 
  padding: 20px;             
  box-sizing: border-box;
  flex-direction: column;
}







 
