
.login-btn {
  background-color: #003F62; 
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 9px;
  height: 48px;
  font-size: 16px;   
  line-height: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #005f8c; 
}


.social-row {
  display: flex;
  justify-content: space-between; 
  gap: 10px; 
  width: 100%;   
  max-width: 480px;
  margin: 12px 0;
}


.social {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social img {
  width: 18px;
  height: 18px;
}


