



 .heading{
  text-align: center;
  gap: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

 .Card{
  width: 200px;
 height: 300px;
 padding: 17px;
 border-radius: 6px;
 box-shadow: 0px 0px 0px 2px rgb(220, 217, 217);
text-align: center;
 }


 .Card img{
  width: 150px;
  height: 250px;
 }

 .Cardname{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
 } 


